<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title,links)">

    <title th:replace="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,%20400,700|Inconsolata:400,700"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/us/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <th:block th:replace="${links}"></th:block>
</head>
<body>
<!--Header-->
<header role="banner" th:fragment="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-9 social">
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                    <a href="#"><span class="fa fa-youtube-play"></span></a>
                </div>
                <div class="col-3 search-top">

                    <form th:action="@{/tim-kiem}" class="search-top-form">
                        <span class="icon fa fa-search"></span>
                        <input type="text" id="" name="s" placeholder="Tìm kiếm ..." style="background: transparent;"
                               th:value="${value}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container logo-wrap">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
                   aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                <h1 class="site-logo"><a href="index-2.html">Wordify</a></h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/trang-chu}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="post-filter.html" id="dropdown04"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Travel</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="post-filter.html">Asia</a>
                            <a class="dropdown-item" href="post-filter.html">Europe</a>
                            <a class="dropdown-item" href="post-filter.html">Dubai</a>
                            <a class="dropdown-item" href="post-filter.html">Africa</a>
                            <a class="dropdown-item" href="post-filter.html">South America</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="post-filter.html" id="dropdown05"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danh mục</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <th:block th:each="cate : ${session.category}">
                                <a class="dropdown-item"
                                   th:href="@{/danh-muc(c=${cate.categoryName})}"
                                   th:text="${cate.categoryName}"></a>
                            </th:block>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/gioi-thieu}">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lien-lac}">Liên lạc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/dang-nhap}">Đăng nhập</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/dang-xuat}">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--End Header-->
<!--SideBar-->
<div class="col-md-12 col-lg-4 sidebar" th:fragment="sideBar">
    <div class="sidebar-box search-form-wrap">
        <form th:action="@{/tim-kiem}" class="search-form">
            <div class="form-group">
                <span class="icon fa fa-search"></span>

                <input type="text" class="form-control" id="" name="s"
                       placeholder="Tìm kiếm ..." th:value="${value}">
            </div>
        </form>
    </div>

    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="/us/images/person_1.jpg" alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>David Craig</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                    repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit
                    molestias minus.</p>
                <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
                <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Popular Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                <th:block th:each="p : ${session.postPopular}">
                    <li>
                        <a th:href="@{/bai-viet/{id}(id=${p.postId})}">
                            <img th:src="@{${p.postImage}}" th:alt="${p.postTitle}" class="mr-4">
                            <div class="text">
                                <h4 th:text="${p.postTitle}"></h4>
                                <div class="post-meta">
                                    <span class="mr-2" th:text="${p.postDate}"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                </th:block>

            </ul>
        </div>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            <th:block th:each="cate : ${session.categoryDTO}">
                <li>
                    <a th:href="@{/danh-muc(c=${cate.categoryName})}">
                        <th:block th:text="${cate.categoryName}">

                        </th:block>
                        <span>(<th:block th:text="${cate.postQuantity}"></th:block>)</span>
                    </a>

                </li>
            </th:block>

        </ul>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Tags</h3>
        <ul class="tags">
            <th:block th:each="t : ${session.tagList}">
                <li><a th:href="@{/tag(t=${t.tagName})}" th:text="${t.tagName}"></a></li>
            </th:block>


        </ul>
    </div>
</div>
<!--End SideBar-->
<!--Footer-->
<footer class="site-footer" th:fragment="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p class="mb-4">
                    <img src="/us/images/img_1.jpg" alt="Image placeholder" class="img-fluid">
                </p>
                <p>Lorem ipsum dolor sit amet sa ksal sk sa, consectetur adipisicing elit. Ipsa harum inventore
                    reiciendis. <a href="#">Read More</a></p>
            </div>
            <div class="col-md-6 ml-auto">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Latest Post</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <th:block th:each="p : ${session.postLastest}">
                                    <li>
                                        <a th:href="@{/bai-viet/{id}(id=${p.postId})}">
                                            <img th:src="@{${p.postImage}}" th:alt="${p.postTitle}" class="mr-4">
                                            <div class="text">
                                                <h4 th:text="${p.postTitle}"></h4>
                                                <div class="post-meta">
                                                    <span class="mr-2" th:text="${p.postDate}"></span> &bullet;
                                                    <span class="ml-2">
                                                        <span class="fa fa-eye"></span>
                                                        <span th:text="${p.postViews}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </th:block>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div class="mb-5">
                            <h3>Quick Links</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Adventure</a></li>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">Categories</a></li>
                            </ul>
                        </div>
                        <div class="mb-5">
                            <h3>Social</h3>
                            <ul class="list-unstyled footer-social">
                                <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                                <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                                <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>
                                <li><a href="#"><span class="fa fa-vimeo"></span> Vimeo</a></li>
                                <li><a href="#"><span class="fa fa-youtube-play"></span> Youtube</a></li>
                                <li><a href="#"><span class="fa fa-snapchat"></span> Snapshot</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="small">

                    Copyright &copy;

                    <script>document.write(new Date().getFullYear());</script>
                    All Rights Reserved | This template is made with <i class="fa fa-heart text-danger"
                                                                        aria-hidden="true"></i> by <a
                        href="https://colorlib.com/" target="_blank">Colorlib</a>

                </p>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
<div id="loader" class="show fullscreen" th:fragment="loader">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#f4b214"/>
    </svg>
</div>
</body>
</html>