<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/us/css/style_f.css}">

    <!-- Google Fonts Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div style="height: 67px; width: 100%;" class="sign-in-close">
                    <span class="close-box">
                        <a onclick="back_page()" id="close-link"><i class="zmdi zmdi-close"></i></a>
                    </span>
                </div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img th:src="@{/us/images/signin-image.jpg}" alt="sing up image"></figure>
                        <div>
                            <a th:href="@{/dang-ki}" class="signup-image-link">Create an account</a>
                            <a href="#" class="signup-image-link">Forgot password</a>
                            <a th:href="@{/trang-chu}" class="signup-image-link">Back to Home page</a>
                        </div>
                    </div>


                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" class="register-form" id="login-form" th:action="@{/login}">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Username or Email"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group" th:if="${err}" th:text="${err}" style="color: #dc3545;">

                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="https://www.facebook.com/dialog/oauth?client_id=811895242831147&redirect_uri=https://localhost:8085/dang-nhap-facebook"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="https://accounts.google.com/o/oauth2/auth?scope=profile email&redirect_uri=https://localhost:8085/dang-nhap-google&response_type=code
                            &client_id=237825192235-hrsf4f3ahuk43lc51gd12m8u37dloebr.apps.googleusercontent.com&approval_prompt=force"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Sing in  Form -->
    </div>
    <!-- JS -->
    <script th:src="@{/us/js/main.js}"></script>
    <script th:src="@{/us/js/jquery-3.2.1.min.js}"></script>
</body>
</html>